:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-dark-color: #2f303a;
  --background-grey-color: #f5f4fa;
  --black-color: #000000;
  --footer--link: rgba(255, 255, 255, 0.6);
  --main-button-active: #188ce8;
  --border-color: #ececec;
  --svg-color: #afb1b8;
  --hero-background: rgba(196, 196, 196, 1);
}
/* синій #2196F3  */
/* білий  #FFFFFF */
/* сірий  #757575; */
/* чорний #212121; */
/* колір фону #FFFFFF */
/* колір фону 2  #2F303A; */
/* колір фону 3 #F5F5F5 */
/* колір фону 4  #F5F4FA */

.body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

/* --------------------------Ресет-----------------------------------*/
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  font-family: inherit;
}

.image {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -----------------------------------------------заголовки секцій --------------------*/
.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

/* ------------------------------стилізація хедеру ------------------------------*/
.header {
  border-bottom: 1px solid var(--border-color);
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* background-color: yellowgreen; */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* --------------------------стилізація логотипу----------------------------------- */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-studio {
  color: var(--black-color);
}
.site-nav {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}

/* ----------------------------стилізація навігації --------------------------------*/
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .item {
  position: relative;
}

.current::after {
  content: "";
  border-radius: 2px;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  display: block;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}
/* --------------------стилізація контактної інформації------------------ */
.contacts a {
  color: var(--primary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts > .item + .item {
  margin-left: 50px;
}
.contacts-global-icon {
  color: var(--primary-text-color);
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-contacts {
  align-self: center;
  fill: currentColor;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-global-icon:hover,
.contacts-global-icon:focus {
  color: var(--accent-color);
  fill: currentColor;
}

.icon-contacts:hover,
.icon-contacts:focus {
  fill: currentColor;
}

.main-menu {
  display: flex;
  align-items: center;
}
.nav-menu {
  display: flex;
  align-items: center;
}
/* -------------------------------------------секція герой------------------------ */

.hero__section {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1600px;
  height: 600px;
  background-color: var(--hero-background);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-photo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* --------------------------------------------кнопка------------------------------- */
.button {
  background-color: var(--background-grey-color);
  color: var(--title-text-color);
  border: none;
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 216px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--main-button-active);
  cursor: pointer;
}

/* ------------------------------------------секція наші принципи -------------------------*/

.principles__list {
  display: flex;
  gap: 30px;
}
.principles__list .principles__item {
  width: calc((100% - 60px) 4);
}
.principles__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-grey-color);
  border-radius: 4px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}

.principles__title{
  color: var(--title-text-color);

  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 0;
}
.principles__list p {
  display: flex;
  width: 270px;
  line-height: 1.71;
  margin: 0;
}

/* -----------------------------------секція чим ми займаємося ---------------------*/
.work__list {
  display: flex;
  padding-top: 0;
  gap: 30px;
}
.work__img {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}
.work__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding-top: 27px;
  /* padding-bottom: 27px; */
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)
  );
}
/*------------------------------------------ секція наша команда----------------------- */
.team-list {
  display: flex;
  gap: 30px;
}
.team {
  background-color: var(--background-grey-color);
}

.team-list .title {
  color: var(--title-text-color);
  display: inline-block;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}
.photo-card {
  flex-basis: calc((100% - 90px) / 4);
  text-align: center;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.about-team {
  padding: 30px 0;
}
.team-list p {
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0;
  margin-bottom: 16px;
  padding-bottom: 0;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: var(--svg-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social {
  fill: currentColor;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* ----------------------------------------------------КЛІЄНТИ -------------------------- */

.clients {
  display: flex;
  flex-wrap: no-wrap;
  margin: 0;
  padding: 0;
  gap: 30px;
  list-style: none;
  color: var(--svg-color);
}
.clients-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--svg-color);
  border-radius: 4px;
  color: var(--svg-color);
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-clients {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* -----------------------------------------------підвал сайту--  -------------------------- */
.footer {
  background-color: var(--background-dark-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .footer-logo {
  display: block;
  margin-bottom: 20px;
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
}
.footer-logo-studio {
  color: var(--primary-white-color);
}

.address-link-mail {
  color: var(--footer--link);

  text-decoration: none;
  font-style: normal;
  line-height: 1.5;
  display: inline-block;
  margin-bottom: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.actual-address {
  color: var(--primary-white-color);

  text-decoration: none;
  font-style: normal;
  line-height: 1.5;
  display: inline-block;
  margin-bottom: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link-phone {
  color: var(--footer--link);

  text-decoration: none;
  font-style: normal;
  line-height: 1.5;
  display: inline-block;
  margin-bottom: 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.actual-address:hover,
.actual-address:focus,
.address-link-mail:hover,
.address-link-mail:focus,
.address-link-phone:hover,
.address-link-phone:focus {
  color: var(--accent-color);
}

.footer-wrap {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16px / 14px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  margin-top: 0;
}

.footer-social {
  display: inline-flex;
  gap: 10px;
  justify-content: center;
}

.footer-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer {
  fill: currentColor;
}
.footer-item a:focus,
.footer-item a:hover {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}
.subscribe-box {
  display: block;
  margin-left: auto;
}
.subscribe-input {
  width: 358px;
  height: 50px;
  color: var(--primary-white-color);
  padding-left: 16px;
  outline: transparent;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  background-color: var(--background-dark-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  /* padding-left: 16px; */
}
.sub-form {
  display: flex;
}
.button.primary.sub {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 28px;
  padding-right: 28px;
}

/* -------------------------------------------сторінка портфоліо -----------------------------*/
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.buttons .item + .item {
  margin-left: 8px;
}

.button.secondary {
  background-color: var(--background-grey-color);
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  transition-property: color, box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* --------------------------------------Наші проекти --------------------------------- */
.cards__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card__grid {
  display: flex;
  width: calc((100% - 60px) / 3);
}
.card__grid a {
  text-decoration: none;
  transition-property: box-shadow, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card__grid a:hover,
.card__grid a:focus {
  opacity: 1;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
/* .сards-grid a {
  text-decoration: none;
} */

.card__title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}
.card__type {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
  margin: 0;
}

.card__content {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top: none;
  background-color: var(--primary-white-color);
}
.card__text {
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-white-color);
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);

  width: 100%;
  height: 100%;
  overflow: auto;

  opacity: 0;
  transition-property: transform, opacity;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card__box {
  position: relative;
  overflow: hidden;
}

.card__link:hover .card__text,
.card__link:focus .card__text {
  opacity: 1;
  transform: translateY(0);
}
/* ----------------------------------------------Модальне вікно--------------------------------------------------- */
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  transform: scale(1);
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);

  visibility: visible;
  opacity: 1;
  pointer-events: initial;

  transition-property: visibility, opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.is-hidden {
  transform: scale(0.5);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.close-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: var(--accent-color);
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 12px;
  color: var(--black-color);
}
.label-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}
.input-wrap {
  position: relative;
}
.input-box {
  margin-bottom: 10px;
}

.input-style {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-form {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%); 
}
.coment {
  width: 100%;
  height: 120px;
  font-size: 14px;
  padding: 12px;
  resize: none;
  
}
.coment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.input-box.comment {
  margin-bottom: 20px;
}
.privacy-text { 
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-box.agreement {
  margin-bottom: 30px;
}

.icon-check {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  outline: 2px solid black;
  outline-offset: -2px;
  border-radius: 2px;
  fill: transparent;
}
.input-check:checked + .privacy-text span {
  background-color: var(--accent-color);
  outline: transparent;
}

.privacy-link {
  line-height: 1.7;
  letter-spacing: 0.03em;  
  color: var(--accent-color);
  text-decoration:underline;
  text-decoration-skip-ink: none;
  
}

.modal-btn {
  margin-left: 124px;
  margin-right: 124px;
}


.input-style:focus {
  border-color: var(--accent-color);
}

.input-style:focus + .icon-form {
  fill: var(--accent-color);
}