.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    transform: scale(1);
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
  
    visibility: visible;
    opacity: 1;
    pointer-events: initial;
  
    transition-property: visibility, opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .is-hidden {
    transform: scale(0.5);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }