:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --background-dark-color: #2f303a;
    --background-grey-color: #f5f4fa;
    --black-color: #000000;
    --footer--link: rgba(255, 255, 255, 0.6);
    --main-button-active: #188ce8;
    --border-color: #ececec;
    --svg-color: #afb1b8;
    --hero-background: rgba(196, 196, 196, 1);
  }